version: '2.4'
services:
  mast3r:
    image: mast3r:latest
    privileged: true
    build:
      context: ../registration/mast3r-zeroshop
      dockerfile: Dockerfile
      shm_size: '2gb'
      args:
        - USE_CUDA=1
        - TORCH_ARCH=7.0;7.5;8.0;8.6+/code/datasets/ycbv_real_subsetPTX
    shm_size: '2gb'
    network_mode: "host"
    runtime: "nvidia"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../datasets:/code/datasets
    environment: 
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DISABLE_ITTNOTIFY=1
    command: bash -c "
      source /opt/conda/etc/profile.d/conda.sh &&
      conda activate mast3r &&
      chmod +x prepare_structure_all_ycbv.sh process_scene_obj_height_all_ycbv.sh make_pairs_all_ycbv.sh kapture_mast3r_mapping_all_ycbv.sh &&
      echo '==== Running prepare_structure_all_ycbv.sh ====' &&
      ./prepare_structure_all_ycbv.sh || true &&
      echo '==== Running process_scene_obj_height_all_ycbv.sh ====' &&
      ./process_scene_obj_height_all_ycbv.sh || true &&
      echo '==== Running make_pairs_all_ycbv.sh ====' &&
      ./make_pairs_all_ycbv.sh || true &&
      echo '==== Running kapture_mast3r_mapping_all_ycbv_docker.sh ====' &&
      ./kapture_mast3r_mapping_all_ycbv_docker.sh || true &&
      chmod -R 777 /code/datasets &&
      exec bash
      "
    stdin_open: true
    tty: true 